<a href="https://colab.research.google.com/github/TharangaLakmali/Flight_delay_prediction/blob/main/preprocessing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mounting the google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
# importing the libraries
import os
import pandas as pd
import numpy as np
import sys
import glob

In [2]:
# list of necessary columns from flight data
l_cols = ['YEAR','QUARTER','MONTH','DAY_OF_MONTH','DAY_OF_WEEK','FL_DATE','TAIL_NUM',
          'ORIGIN','ORIGIN_CITY_NAME','DEST','DEST_CITY_NAME','DEP_TIME','DEP_DELAY',
          'DEP_DELAY_NEW','DEP_DEL15','CANCELLED']

In [3]:
# combining all the flight data csvs together

path = "/content/drive/MyDrive/data/filght_data/"

filenames = glob.glob(path + "/*.csv")
month_data = []

for file in filenames:
  print(file)
  data = pd.read_csv(file)[l_cols]
  month_data.append(data)

/content/drive/MyDrive/data/filght_data/jan_2020.csv
/content/drive/MyDrive/data/filght_data/Feb_2019.csv
/content/drive/MyDrive/data/filght_data/may2019.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

/content/drive/MyDrive/data/filght_data/june2019.csv
/content/drive/MyDrive/data/filght_data/july2019.csv
/content/drive/MyDrive/data/filght_data/august2019.csv
/content/drive/MyDrive/data/filght_data/september2019.csv
/content/drive/MyDrive/data/filght_data/october_2019.csv
/content/drive/MyDrive/data/filght_data/november2019.csv
/content/drive/MyDrive/data/filght_data/december_2019.csv
/content/drive/MyDrive/data/filght_data/feb_2020.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (34) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

/content/drive/MyDrive/data/filght_data/march_2020.csv
/content/drive/MyDrive/data/filght_data/april_2020.csv
/content/drive/MyDrive/data/filght_data/may_2020.csv
/content/drive/MyDrive/data/filght_data/june_2020.csv
/content/drive/MyDrive/data/filght_data/july_2020.csv
/content/drive/MyDrive/data/filght_data/september_2020.csv
/content/drive/MyDrive/data/filght_data/october_2020.csv
/content/drive/MyDrive/data/filght_data/november_2020.csv
/content/drive/MyDrive/data/filght_data/december_2020.csv
/content/drive/MyDrive/data/filght_data/march2019.csv
/content/drive/MyDrive/data/filght_data/april2019.csv
/content/drive/MyDrive/data/filght_data/august_2020.csv
/content/drive/MyDrive/data/filght_data/Jan_2019.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
# concatanating all the files

flight_data = pd.concat(month_data,axis=0)

In [6]:
flight_data.head()

   YEAR  QUARTER  MONTH  ...  DEP_DELAY_NEW  DEP_DEL15 CANCELLED
0  2020        1      1  ...           41.0        1.0       0.0
1  2020        1      1  ...            0.0        0.0       0.0
2  2020        1      1  ...            0.0        0.0       0.0
3  2020        1      1  ...           10.0        0.0       0.0
4  2020        1      1  ...            1.0        0.0       0.0

[5 rows x 16 columns]

In [7]:
flight_data.isna().sum()

YEAR                     0
QUARTER                  0
MONTH                    0
DAY_OF_MONTH             0
DAY_OF_WEEK              0
FL_DATE                  0
TAIL_NUM            196967
ORIGIN                   0
ORIGIN_CITY_NAME         0
DEST                     0
DEST_CITY_NAME           0
DEP_TIME            447514
DEP_DELAY           447601
DEP_DELAY_NEW       447601
DEP_DEL15           447601
CANCELLED                0
dtype: int64

In [5]:
# dropping rows where the filght tail number or the departure time is missing
flight_data.dropna(subset=['TAIL_NUM','DEP_TIME','DEP_DELAY'], inplace=True)

In [9]:
flight_data.isna().sum()

YEAR                0
QUARTER             0
MONTH               0
DAY_OF_MONTH        0
DAY_OF_WEEK         0
FL_DATE             0
TAIL_NUM            0
ORIGIN              0
ORIGIN_CITY_NAME    0
DEST                0
DEST_CITY_NAME      0
DEP_TIME            0
DEP_DELAY           0
DEP_DELAY_NEW       0
DEP_DEL15           0
CANCELLED           0
dtype: int64

In [10]:
# checking the data types of the columns
flight_data.dtypes

YEAR                  int64
QUARTER               int64
MONTH                 int64
DAY_OF_MONTH          int64
DAY_OF_WEEK           int64
FL_DATE              object
TAIL_NUM             object
ORIGIN               object
ORIGIN_CITY_NAME     object
DEST                 object
DEST_CITY_NAME       object
DEP_TIME            float64
DEP_DELAY           float64
DEP_DELAY_NEW       float64
DEP_DEL15           float64
CANCELLED           float64
dtype: object

In [6]:
# correcting the data types of the columns as needed
flight_data['FL_DATE'] = pd.to_datetime(flight_data['FL_DATE'])
flight_data['DEP_TIME'] = flight_data['DEP_TIME'].astype(int).astype(str)

In [12]:
flight_data.dtypes

YEAR                         int64
QUARTER                      int64
MONTH                        int64
DAY_OF_MONTH                 int64
DAY_OF_WEEK                  int64
FL_DATE             datetime64[ns]
TAIL_NUM                    object
ORIGIN                      object
ORIGIN_CITY_NAME            object
DEST                        object
DEST_CITY_NAME              object
DEP_TIME                    object
DEP_DELAY                  float64
DEP_DELAY_NEW              float64
DEP_DEL15                  float64
CANCELLED                  float64
dtype: object

In [ ]:
# flight_data.to_csv('/content/drive/MyDrive/data/flight_data_combined.csv')

In [7]:
# left padding the DEP_TIME so that all entries have HHMM format
flight_data['DEP_TIME'] = flight_data['DEP_TIME'].str.pad(4,side='left',fillchar='0')

In [14]:
flight_data.head()

   YEAR  QUARTER  MONTH  ...  DEP_DELAY_NEW  DEP_DEL15 CANCELLED
0  2020        1      1  ...           41.0        1.0       0.0
1  2020        1      1  ...            0.0        0.0       0.0
2  2020        1      1  ...            0.0        0.0       0.0
3  2020        1      1  ...           10.0        0.0       0.0
4  2020        1      1  ...            1.0        0.0       0.0

[5 rows x 16 columns]

In [8]:
# extracting the departure hour and the minutes from DEP_TIME column
flight_data['DEP_HOUR'] = flight_data['DEP_TIME'].str[0:2]
flight_data['DEP_MIN'] = flight_data['DEP_TIME'].str[-2:]

In [16]:
flight_data.head()

   YEAR  QUARTER  MONTH  DAY_OF_MONTH  ...  DEP_DEL15 CANCELLED DEP_HOUR DEP_MIN
0  2020        1      1             1  ...        1.0       0.0       18      51
1  2020        1      1             1  ...        0.0       0.0       11      46
2  2020        1      1             1  ...        0.0       0.0       20      16
3  2020        1      1             1  ...        0.0       0.0       13      50
4  2020        1      1             1  ...        0.0       0.0       09      16

[5 rows x 18 columns]

In [9]:
# reading aircraft data and dropping the na values
aircraft_data = (
    pd.read_csv('/content/drive/MyDrive/data/aircraft_data/tail_n_aircraft.csv')[['TAIL_NUM','Aircraft type']]
    .dropna(subset=['Aircraft type'])
    .drop_duplicates()
    )

In [18]:
aircraft_data.head()

  TAIL_NUM         Aircraft type
0   N8694A  Mitsubishi CRJ-200LR
1   N8970D  Mitsubishi CRJ-200LR
2   N820AY  Mitsubishi CRJ-200LR
3   N840AY  Mitsubishi CRJ-200LR
4   N8969A  Mitsubishi CRJ-200LR

In [10]:
# joining the flight data and the aircraft type dataset
combined_aircraft_type = (
    flight_data
    .merge(
       aircraft_data,
       on=['TAIL_NUM'],
       how='left'
    )
    .dropna(subset=['Aircraft type'])
)

In [20]:
# del flight_data
# del month_data
# del aircraft_data

In [11]:
combined_aircraft_type.head()

   YEAR  QUARTER  MONTH  ...  DEP_HOUR  DEP_MIN   Aircraft type
0  2020        1      1  ...        18       51  Boeing 737-7H4
1  2020        1      1  ...        11       46  Boeing 737-7H4
2  2020        1      1  ...        20       16  Boeing 737-76N
3  2020        1      1  ...        13       50  Boeing 737-76Q
4  2020        1      1  ...        09       16  Boeing 737-7H4

[5 rows x 19 columns]

In [13]:
# combined_aircraft_type.to_csv('/content/drive/MyDrive/data/aircraft_data_combined.csv')

In [29]:
# reading weather data
weather_data = (
    pd.read_csv('/content/drive/MyDrive/data/weather_data/atlanta_weather.csv', parse_dates=['FL_DATE'])
    .drop(['Unnamed: 0'],axis=1)
    )

In [23]:
weather_data.head()

                  time  temp  dwpt   rhum  ...  tsun  coco  DEP_HOUR     FL_DATE
0  2019-01-01 00:00:00  18.9  15.6   81.0  ...   NaN   7.0         0  2019-01-01
1  2019-01-01 01:00:00  20.0  17.2   84.0  ...   NaN   7.0         1  2019-01-01
2  2019-01-01 02:00:00  20.0  17.8   87.0  ...   NaN   7.0         2  2019-01-01
3  2019-01-01 03:00:00  18.9  18.9  100.0  ...   NaN   7.0         3  2019-01-01
4  2019-01-01 04:00:00  18.3  18.3  100.0  ...   NaN   7.0         4  2019-01-01

[5 rows x 14 columns]

In [35]:
# filling the DP_HOUR columne to have 2 digits
weather_data['DEP_HOUR'] = weather_data['DEP_HOUR'].astype('str').str.pad(2,side='left',fillchar='0')

In [36]:
weather_data.dtypes

time                object
temp               float64
dwpt               float64
rhum               float64
prcp               float64
snow               float64
wdir               float64
wspd               float64
wpgt               float64
pres               float64
tsun               float64
coco               float64
DEP_HOUR            object
FL_DATE     datetime64[ns]
dtype: object

In [33]:
combined_aircraft_type.dtypes

YEAR                         int64
QUARTER                      int64
MONTH                        int64
DAY_OF_MONTH                 int64
DAY_OF_WEEK                  int64
FL_DATE             datetime64[ns]
TAIL_NUM                    object
ORIGIN                      object
ORIGIN_CITY_NAME            object
DEST                        object
DEST_CITY_NAME              object
DEP_TIME                    object
DEP_DELAY                  float64
DEP_DELAY_NEW              float64
DEP_DEL15                  float64
CANCELLED                  float64
DEP_HOUR                    object
DEP_MIN                     object
Aircraft type               object
dtype: object

In [24]:
combined_aircraft_type.head()

   YEAR  QUARTER  MONTH  ...  DEP_HOUR  DEP_MIN   Aircraft type
0  2020        1      1  ...        18       51  Boeing 737-7H4
1  2020        1      1  ...        11       46  Boeing 737-7H4
2  2020        1      1  ...        20       16  Boeing 737-76N
3  2020        1      1  ...        13       50  Boeing 737-76Q
4  2020        1      1  ...        09       16  Boeing 737-7H4

[5 rows x 19 columns]

In [37]:
# joining the weather data to create the final dataset

final_data = (
    combined_aircraft_type
    .merge(
        weather_data,
        on=['FL_DATE','DEP_HOUR'],
        how='left'
    )
)

In [38]:
final_data.head()

   YEAR  QUARTER  MONTH  DAY_OF_MONTH  ...  wpgt    pres tsun coco
0  2020        1      1             1  ...   NaN  1017.3  NaN  3.0
1  2020        1      1             1  ...   NaN  1017.6  NaN  2.0
2  2020        1      1             1  ...   NaN  1015.8  NaN  2.0
3  2020        1      1             1  ...   NaN  1018.6  NaN  2.0
4  2020        1      1             1  ...   NaN  1016.9  NaN  1.0

[5 rows x 31 columns]

In [40]:
# del combined_aircraft_type

In [41]:
final_data.to_csv('/content/drive/MyDrive/data/final_dataset_cleaned.csv', index=False)